In [272]:
import pandas as pd
import numpy as np
import os
import datetime

#### Read CSV Files

In [273]:
filepath= os.path.join('Resources','movies_2010_2011.csv')
df_10_11=pd.read_csv(filepath)

In [274]:
filepath= os.path.join('Resources','movies_2012_2013.csv')
df_12_13=pd.read_csv(filepath)

In [275]:
filepath= os.path.join('Resources','movies_2014.csv')
df_14=pd.read_csv(filepath)

In [276]:
filepath= os.path.join('Resources','movies_2015.csv')
df_15=pd.read_csv(filepath)

In [277]:
filepath= os.path.join('Resources','movies_2016_2017.csv')
df_16_17=pd.read_csv(filepath)

In [278]:
filepath= os.path.join('Resources','movies_2018_2019.csv')
df_18_19=pd.read_csv(filepath)

#### Merging CSVs to make final dataset

In [279]:
#Checking features from OMDB dataset
df_14.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID',
       'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response',
       'totalSeasons'],
      dtype='object')

In [280]:
frames = [df_10_11,df_12_13, df_14, df_15, df_16_17,df_18_19]

movie_df= pd.concat(frames)

In [281]:
movie_df.head(5)

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,totalSeasons,Error
0,0,Inception,2010,PG-13,16 Jul 2010,148 min,"Action, Adventure, Sci-Fi",Christopher Nolan,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",...,"2,223,702",tt1375666,movie,07 Dec 2010,"$292,576,195",NaN,NaN,True,NaN,NaN
1,1,Iron Man 2,2010,PG-13,07 May 2010,124 min,"Action, Adventure, Sci-Fi",Jon Favreau,"Justin Theroux, Stan Lee, Don Heck","Robert Downey Jr., Mickey Rourke, Gwyneth Paltrow",...,"771,885",tt1228705,movie,17 Aug 2010,"$312,433,331",NaN,NaN,True,NaN,NaN
2,2,Shutter Island,2010,R,19 Feb 2010,138 min,"Mystery, Thriller",Martin Scorsese,"Laeta Kalogridis, Dennis Lehane","Leonardo DiCaprio, Emily Mortimer, Mark Ruffalo",...,"1,225,928",tt1130884,movie,08 Jun 2010,"$128,012,934",NaN,NaN,True,NaN,NaN
3,3,Scott Pilgrim vs. the World,2010,PG-13,13 Aug 2010,112 min,"Action, Comedy, Fantasy",Edgar Wright,"Michael Bacall, Edgar Wright, Bryan Lee O'Malley","Michael Cera, Mary Elizabeth Winstead, Kieran ...",...,"409,720",tt0446029,movie,09 Nov 2010,"$32,777,690",NaN,NaN,True,NaN,NaN
4,4,Grown Ups,2010,PG-13,25 Jun 2010,102 min,Comedy,Dennis Dugan,"Adam Sandler, Fred Wolf","Adam Sandler, Salma Hayek, Kevin James",...,"242,283",tt1375670,movie,09 Nov 2010,"$162,001,186",NaN,NaN,True,NaN,NaN

In [282]:
movie_df.shape

(2000, 28)

In [283]:
movie_df=movie_df.drop('Unnamed: 0',axis=1)

In [284]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 399
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1796 non-null   object
 1   Year          1796 non-null   object
 2   Rated         1774 non-null   object
 3   Released      1796 non-null   object
 4   Runtime       1795 non-null   object
 5   Genre         1796 non-null   object
 6   Director      1787 non-null   object
 7   Writer        1791 non-null   object
 8   Actors        1796 non-null   object
 9   Plot          1796 non-null   object
 10  Language      1794 non-null   object
 11  Country       1795 non-null   object
 12  Awards        1673 non-null   object
 13  Poster        1796 non-null   object
 14  Ratings       1796 non-null   object
 15  Metascore     1698 non-null   float64
 16  imdbRating    1796 non-null   float64
 17  imdbVotes     1796 non-null   object
 18  imdbID        1796 non-null   object
 19  Type          1796 non-null   object
 20  DVD           1750 non-null   object
 21  BoxOffice     1753 non-null   object
 22  Production    9 non-null      object
 23  Website       1 non-null      object
 24  Response      2000 non-null   bool
 25  totalSeasons  9 non-null      float64
 26  Error         204 non-null    object
dtypes: bool(1), float64(3), object(23)
memory usage: 423.8+ KB

In [285]:
movie_df=movie_df.drop(['Production','Website','totalSeasons','Error','Ratings'],axis=1)

In [286]:
movie_df= movie_df.dropna(subset=['Title','Rated','imdbRating','imdbVotes','BoxOffice'])

In [287]:
movie_df.shape

(1736, 22)

In [288]:
movie_df['Year']=movie_df['Year'].astype('int)
movie_df['Year'].dtype

dtype('float64')

In [289]:
movie_df['Released'] = pd.to_datetime(movie_df['Released'], format='%d %b %Y')
movie_df['Released'].dtype

dtype('<M8[ns]')

In [290]:
movie_df['Runtime']=movie_df['Runtime'].str.split(' ').str[0]

In [291]:
movie_df['Runtime']=pd.to_numeric(movie_df['Runtime'],errors='coerce')
movie_df['Metascore']=pd.to_numeric(movie_df['Metascore'],errors='coerce')
movie_df['imdbRating']=pd.to_numeric(movie_df['imdbRating'],errors='coerce')
movie_df['imdbVotes']=pd.to_numeric(movie_df['imdbVotes'],errors='coerce')

In [292]:
movie_df['BoxOffice']=movie_df['BoxOffice'].str.replace('$', '')
movie_df['BoxOffice']=pd.to_numeric(movie_df['BoxOffice'],errors='coerce')

In [293]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1736 entries, 0 to 397
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       1736 non-null   object
 1   Year        1736 non-null   float64
 2   Rated       1736 non-null   object
 3   Released    1736 non-null   datetime64[ns]
 4   Runtime     1736 non-null   int64
 5   Genre       1736 non-null   object
 6   Director    1736 non-null   object
 7   Writer      1734 non-null   object
 8   Actors      1736 non-null   object
 9   Plot        1736 non-null   object
 10  Language    1735 non-null   object
 11  Country     1736 non-null   object
 12  Awards      1624 non-null   object
 13  Poster      1736 non-null   object
 14  Metascore   1672 non-null   float64
 15  imdbRating  1736 non-null   float64
 16  imdbVotes   17 non-null     float64
 17  imdbID      1736 non-null   object
 18  Type        1736 non-null   object
 19  DVD         1707 non-null   object
 20  BoxOffice   3 non-null      float64
 21  Response    1736 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 300.1+ KB

In [294]:
movie_df.head(5)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Awards,Poster,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Response
0,Inception,2010.0,PG-13,2010-07-16,148,"Action, Adventure, Sci-Fi",Christopher Nolan,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",A thief who steals corporate secrets through t...,...,Won 4 Oscars. 157 wins & 220 nominations total,https://m.media-amazon.com/images/M/MV5BMjAxMz...,74.0,8.8,NaN,tt1375666,movie,07 Dec 2010,NaN,True
1,Iron Man 2,2010.0,PG-13,2010-05-07,124,"Action, Adventure, Sci-Fi",Jon Favreau,"Justin Theroux, Stan Lee, Don Heck","Robert Downey Jr., Mickey Rourke, Gwyneth Paltrow",With the world now aware of his identity as Ir...,...,Nominated for 1 Oscar. 7 wins & 44 nominations...,https://m.media-amazon.com/images/M/MV5BMTM0MD...,57.0,7.0,NaN,tt1228705,movie,17 Aug 2010,NaN,True
2,Shutter Island,2010.0,R,2010-02-19,138,"Mystery, Thriller",Martin Scorsese,"Laeta Kalogridis, Dennis Lehane","Leonardo DiCaprio, Emily Mortimer, Mark Ruffalo","In 1954, a U.S. Marshal investigates the disap...",...,11 wins & 66 nominations,https://m.media-amazon.com/images/M/MV5BYzhiND...,63.0,8.2,NaN,tt1130884,movie,08 Jun 2010,NaN,True
3,Scott Pilgrim vs. the World,2010.0,PG-13,2010-08-13,112,"Action, Comedy, Fantasy",Edgar Wright,"Michael Bacall, Edgar Wright, Bryan Lee O'Malley","Michael Cera, Mary Elizabeth Winstead, Kieran ...","In a magically realistic version of Toronto, a...",...,17 wins & 64 nominations,https://m.media-amazon.com/images/M/MV5BYWQ2OG...,69.0,7.5,NaN,tt0446029,movie,09 Nov 2010,NaN,True
4,Grown Ups,2010.0,PG-13,2010-06-25,102,Comedy,Dennis Dugan,"Adam Sandler, Fred Wolf","Adam Sandler, Salma Hayek, Kevin James",After their high school basketball coach passe...,...,3 wins & 4 nominations,https://m.media-amazon.com/images/M/MV5BMjA0OD...,30.0,6.0,NaN,tt1375670,movie,09 Nov 2010,NaN,True